<input type="hidden" name="interactionOpenToValidated" value="{{ interactionToDisplayed.id }}"/>
<input type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
<input type="hidden" name="typeInteraction" value="InteractionOpen"/>

{% include "UJMExoBundle:Partial:interactionPaper.html.twig" %}

{% include "UJMExoBundle:Partial:paper/open.html.twig" %}
                
{% include "UJMExoBundle:Partial:grammar/showFunctionalInstructions.html.twig" %}

{% include "UJMExoBundle:Partial:hintPaper.html.twig" %}

<span class="general-feedback" style="display: none;">{{ interactionToDisplayed.interaction.feedback|raw }}</span>

<input type="hidden" name="testOpen" value="testOpen" />
<input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>
