<hr>
<span id="add-complementaryInformation" class="btn btn-default">add-complementaryInformations</span>
<ul class="list-group complementaryInformations" data-prototype="{{ form_widget(form.interaction.question.complementaryInformations.vars.prototype.media)|e }}">
</ul>
