<hr>
<span id="add-content" class="btn btn-default">add-content</span>
<ul class="list-group contents" data-prototype="{{ form_widget(form.interaction.question.contents.vars.prototype.media)|e }}">
</ul>
