--- {{ 'complementary_informations' | trans({}, 'ujm_exo') }} ---

{% if interactionToDisplayed.interaction.question.complementaryInformations != null %}
    {% for complementaryInformation in interactionToDisplayed.interaction.question.complementaryInformations %}
        <p>{{ complementaryInformation.media | raw }}</p>
    {% endfor %}
{% endif %}

<hr/>
