--- ComplementaryInformations ---

{% if interactionToDisplayed.interaction.question.complementaryInformations != null %}
    {% for complementaryInformation in interactionToDisplayed.interaction.question.complementaryInformations %}
        <p>{{ complementaryInformation.media }}</p>
    {% endfor %}
{% endif %}

<hr/>
