{% if interactionToDisplayed.interaction.question.instructions != null %}
    {% for instruction in interactionToDisplayed.interaction.question.instructions %}
        <p>{{ instruction.media }}</p>
    {% endfor %}
{% endif %}

<hr/>
