--- {{ 'contents' | trans({}, 'ujm_exo') }} ---

{% if interactionToDisplayed.interaction.question.contents != null %}
    {% for content in interactionToDisplayed.interaction.question.contents %}
        <p>{{ content.media | raw }}</p>
    {% endfor %}
{% endif %}

<hr/>
