--- {{ 'instructions' | trans({}, 'ujm_exo') }} ---

{% if interactionToDisplayed.interaction.question.instructions != null %}
    {% for instruction in interactionToDisplayed.interaction.question.instructions %}
        <p>{{ instruction.media | raw }}</p>
    {% endfor %}
{% endif %}

<hr/>
