{% if interactionToDisplayed.interaction.question.instructions|length != 0 %}

{% if interactionToDisplayed.interaction.question.instructions != null %}
    <ul class="list-group">
    {% for instruction in interactionToDisplayed.interaction.question.instructions %}
        <li class="list-group-item">{{ instruction.media | raw }}</li>
    {% endfor %}
    </ul>
{% endif %}


{% endif %}
