{% if interactionToDisplayed.interaction.question.complementaryInformations|length != 0 %}

{% if interactionToDisplayed.interaction.question.complementaryInformations != null %}
    <ul class="list-group">
    {% for complementaryInformation in interactionToDisplayed.interaction.question.complementaryInformations %}
        <li class="list-group-item">{{ complementaryInformation.media | raw }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endif %}
